<section>
    <h1>{{currentUser}}</h1>
</section>
<section id="chat-messages"></section>
<section id="typing">

</section>
<section class="input-group" id="chat-input-box">
    <input name="" id="chat-message-input" class="type_msg" placeholder="Type your message...">
    <button class="input-group-append" id="send_chat_btn" data-ui="chat-send" title="Start a chat">
        <span id="send-chat" class="input-group-text send_btn" aria-hidden="true">Send</span>
    </button>
</section>

<script>
    var socket = io.connect();
    var msgContClassName = 'container';
    var timeClassName = 'time-right';
    var lastUser = 'Admin';
    $(setTimeout(function () {
        var msg = {};
        msg.user = 'Admin';
        var currentUser = '{{currentUser}}'
        if (currentUser == "Anonymous") {
            currentUser = "";
        }
        msg.message = "Hey " + currentUser + "! How can I help you?"
        addMessage(msg);
    }, 1000));
    $('#send_chat_btn').click(function () {
        socket.emit('message', {
            "user": '{{currentUser}}',
            "lastUser": lastUser,
            "message": $('#chat-message-input').val()
        });
        $('#chat-message-input').val('');
        return false;
    });
    $('#chat-message-input').on('keyup', function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            $('#send_chat_btn').click();
        }
    });
    socket.on('message', function (iMsg) {
        addMessage(iMsg);
        lastUser = iMsg.user;
    });
    $('#chat-message-input').bind("keydown", function () {
        socket.emit('typing', { "username": "Anonymous" });
    });
    $('#chat-message-input').bind("keyup", function () {
        setTimeout(function () {
            socket.emit('typing');
        }, 1000);
    });
    socket.on('typing', function (data) {
        if (data !== undefined) {
            $('#typing').html($('<p>').text(data.username + " is typing..."));
        } else {
            $('#typing').html($('<p>').text(""));
        }

    });

    function addMessage(iMsg) {
        var time = new Date();
        if (iMsg.lastUser !== iMsg.user) {
            if (msgContClassName == 'container darker') {
                msgContClassName = 'container';
            } else if (msgContClassName == 'container') {
                msgContClassName = 'container darker';
            }
            $('p').removeClass();
            var container = $('<div>').addClass(msgContClassName);
            container.append($('<p>').append($('<strong>').text(iMsg.user)).append($('<span>').addClass(timeClassName).text(
                time.toLocaleTimeString())));
            container.append($('<p>').addClass('last-chat-msg').text(iMsg.message));
            $('#chat-messages').append(container);
        } else {
            $('.last-chat-msg').append($('<br>'));
            $('.last-chat-msg').append(iMsg.message);
        }
    }
</script>