<div class="container">
    {{#each intentData}}
    <form action="/users/updateintent/{{intent}}" method="POST">
        <div class="form-row">
            <div class="col-3">
                <input name="intentFulifilled" type="text" class="form-control" placeholder="{{intent}}" readonly>
            </div>
            <div class="col-5">
                <input name="intentReplyFulifilled" type="text" class="form-control" placeholder="add intent replies">
            </div>
            <div class="col-2">
                <input name="intentReplyCount" type="text" class="form-control" placeholder="{{reply.length}}" readonly>
            </div>
            <div class="col-2">
                <button class="form-control btn btn-warning">Update</button>
            </div>
            <br>
            <hr>
            <br>
        </div>
    </form>
    <br>
    {{/each}}
    <form action="/users/addintent" method="POST">
        <div class="form-row">
            <div class="col-5">
                <input name="intentToAdd" type="text" class="form-control" placeholder="add your intent">
            </div>
            <div class="col-5">
                <input name="intentReplyToAdd" type="text" class="form-control" placeholder="Add a reply">
            </div>
            <div class="col-2">
                <button class="form-control btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>