<form action="/chat" method="POST" id="register">
    <div class="start-chat-container">
        {{!-- <input name="name" id="chat-user" class="form-control type_msg chat-user" placeholder="Type your name"
            required> --}}
        <input name="userid" id="chat-user" class="form-control type_msg chat-user" placeholder="Type your userid"
            required>
        <button class="chat-user-enter" id="go-to-chat-start">Start Chat</button>
    </div>
</form>
<script>
    var socket = io('/chat', { transports: ['websocket'] });
    socket.on('connect', function (e) {
        $('#go-to-chat-start').click(function () {
            var userRoom = $('.chat-user');
            var roomID = userRoom.val().trim();
            console.log(roomID);
            if (roomID != '') {
                socket.emit('createUserRoom', roomID);
            }
        });
    });
</script>