<div class="container">
    <form action="">
        <label>Enter your message</label>
        <textarea name="message" id="msg" cols="30" rows="10"></textarea>
        <input type="submit" id="send">
    </form>
    <ul id="messages"></ul>     
</div>
<script>
    var socket = io.connect();
    $('form').submit(function(){
        socket.emit('message', $('#msg').val());
        $('#msg').val('');
        return false;
    });
    socket.on('message', function(msg){
        addMessage(msg);
    });
    function addMessage(msg){
        $('#messages').append($('<li>').text(msg));
    }
</script>