<div class="container">
    <textarea name="message" id="msg" cols="30" rows="10"></textarea>
    <button id="send">Send</button>
    <ul id="messages"></ul>
</div>
<!-- <script>
    var socket = io.connect();
    $('form').submit(function(){
        socket.emit('message', $('#msg').val());
        $('#msg').val('');
        return false;
    });
    socket.on('message', function(msg){
        addMessage(msg);
    });
    function addMessage(msg){
        $('#messages').append($('<li>').text(msg));
    }
</script> -->