<form action="/chat" method="POST" id="register">
    <div class="wrap start-chat-container">
        <input name="userid" id="chat-user" class="form-control type_msg chat-user" type="text" placeholder="Type your userid..." />
        <button class="form-control chat-user-enter" id="go-to-chat-start"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</form>