<div class="wrap start-chat-container">
    <div class="login">
        <form action="/login" method="POST">
            <input name="username" class="form-control" type="username" placeholder="username" />
            <br>
            <input name="password" class="form-control" type="password" placeholder="password" />
            <br>
            <button class="form-control btn btn-success">Login</button>
        </form>
        <br>
        <hr>
        <br>
        <button class="form-control btn btn-primary" id="go-to-signup">Signup</button>
    </div>
    <div class="signup">
        <form action="/signup" method="POST" class="signup">
            <input name="username" class="form-control" type="username" placeholder="username" />
            <br>
            <input name="password" class="form-control" type="password" placeholder="password" />
            <br>
            <button class="form-control btn btn-primary">Signup</button>
        </form>
        <br>
        <hr>
        <br>
        <button class="form-control btn btn-success" id="go-to-login">Login</button>
    </div>
</div>