<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="https://ptetutorials.com/images/user-profile.png" class="online" alt="" />
                <p>{{currentUser}}</p>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul id="all-users">
                {{#each users}}
                <li class="contact" data-username="{{this}}">
                    <div class="wrap">
                        <span class="contact-status online"></span>
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
                        <div class="meta">
                            <p class="name">{{this}}</p>
                            {{!-- <p class="preview">You just got LITT up, Mike.</p> --}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="" />
            <p></p>
            <div class="clear-chat">
				<button type="button" class="btn btn-outline-danger">Clear Chat</button>
			</div>
        </div>
        <div class="messages">
            <ul>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input id="text-msg" type="text" placeholder="Write your message..." />
                {{!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> --}}
                <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>